# server settings
PORT=8081
DB_CONNECTION_STRING="mongodb://localhost/lead-knight"

# communications to the main controller site
MAIN_SITE_DOMAIN="localhost"
MAIN_SITE_ROUTE="/lead-knight"
MAIN_SITE_PORT=8080

# WireGuard settings
CHECK_STATUS_INTERVAL=5000
LOCAL_IP_RANGE='10.9.' 
# 10.9.0.0/16, only supports 16 bits